
@font-face {
    font-family: 'sackers_gothic_medium-webfont';
    src: url('font/sackers_gothic_medium-webfont.eot');
    src: url('font/sackers_gothic_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sackers_gothic_medium-webfont.woff') format('woff'),
         url('fontsackers_gothic_medium-webfont.ttf') format('truetype'),
         url('font/sackers_gothic_medium-webfont.svg#fontset') format('svg');
    font-weight: normal;
    font-style: normal;
}




body{
  font-family:'sackers_gothic_medium-webfont';
  margin: 0;
  background-color: #A9A9A9;
}



  /* ----------------------------
              HEADER
  ---------------------------- */

.header p{
  display: inline-block;
  margin-left: 10%;
  font-size: 25px;
}


  /* ----------------------------
                TOP
  ---------------------------- */
.window_fixed{
  z-index: -10;
}

.top{
 height: 80%;
 width: 100%;
 position: fixed;
 display: none;
 }

.box{
  width: 400px;
  height: 400px;
  position: relative;
  margin: 100px auto;
}

.bd{
  position: absolute;
  top: 0;
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 0.3s; /*変化にかける時間*/
  border: 1px solid #;
  height: 100%;
  width: 100%;
}

.bd2{
  position: absolute;
  top: 10;
  transform: rotate(5deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 0.5s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd3{
  position: absolute;
  top: 10;
  transform: rotate(10deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 0.7s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd4{
  position: absolute;
  top: 10;
  transform: rotate(15deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 0.9s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd5{
  position: absolute;
  top: 10;
  transform: rotate(20deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd6{
  position: absolute;
  top: 10;
  transform: rotate(30deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd7{
  position: absolute;
  top: 10;
  transform: rotate(35deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd8{
  position: absolute;
  top: 10;
  transform: rotate(40deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd9{
  position: absolute;
  top: 10;
  transform: rotate(45deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd10{
  position: absolute;
  top: 10;
  transform: rotate(55deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
}

.bd12{
  position: absolute;
  top: 10;
  transform: rotate(60deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd13{
  position: absolute;
  top: 10;
  transform: rotate(65deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd14{
  position: absolute;
  top: 10;
  transform: rotate(70deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd15{
  position: absolute;
  top: 10;
  transform: rotate(75deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd16{
  position: absolute;
  top: 10;
  transform: rotate(80deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd17{
  position: absolute;
  top: 10;
  transform: rotate(85deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd18{
  position: absolute;
  top: 10;
  transform: rotate(90deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd19{
  position: absolute;
  top: 10;
  transform: rotate(100deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd20{
  position: absolute;
  top: 10;
  transform: rotate(105deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd21{
  position: absolute;
  top: 10;
  transform: rotate(110deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}


.bd22{
  position: absolute;
  top: 10;
  transform: rotate(115deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd23{
  position: absolute;
  top: 10;
  transform: rotate(120deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd24{
  position: absolute;
  top: 10;
  transform: rotate(125deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd25{
  position: absolute;
  top: 10;
  transform: rotate(130deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd26{
  position: absolute;
  top: 10;
  transform: rotate(135deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd27{
  position: absolute;
  top: 10;
  transform: rotate(140deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd28{
  position: absolute;
  top: 10;
  transform: rotate(145deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd29{
  position: absolute;
  top: 10;
  transform: rotate(150deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd30{
  position: absolute;
  top: 10;
  transform: rotate(155deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd31{
  position: absolute;
  top: 10;
  transform: rotate(160deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd32{
  position: absolute;
  top: 10;
  transform: rotate(165deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd33{
  position: absolute;
  top: 10;
  transform: rotate(170deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd34{
  position: absolute;
  top: 10;
  transform: rotate(175deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid  #999999;
  height: 100%;
  width: 100%;
}

.bd35{
  position: absolute;
  top: 10;
  transition: all;
  transform: rotate(180deg);
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd36{
  position: absolute;
  top: 10;
  transition: all;
  transform: rotate(185deg);
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd37{
  position: absolute;
  top: 10;
  transition: all;
  transform: rotate(190deg);
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd38{
  position: absolute;
  top: 10;
  transform: rotate(195deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd39{
  position: absolute;
  top: 10;
  transform: rotate(200deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}

.bd40{
  position: absolute;
  top: 10;
  transform: rotate(205deg);
  transition: all;
  -webkit-transition: all; /*対象とするプロパティを指定*/
  -webkit-transition-duration: 1.1s; /*変化にかける時間*/
  border: 1px solid #999999;
  height: 100%;
  width: 100%;
}



/*actibeクラスを付与した時のcss*/


.active .bd{
  -webkit-transition: all 1.4s;
/*transition: ①transition-property ②transition-duration ③transition-timing-function ④transition-delay*/
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(10,10,1,185deg);
  border-radius: 50%;
}

.active2 .bd2{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(20,20,1,190deg);
  border-radius: 50%;
}

.active3 .bd3{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(30,30,1,195deg);
  border-radius: 50%;
}

.active4 .bd4{
  -webkit-transition: all 1.4s;
  transition: all 0.5 linear 1.5s;
  transform: rotate3d(40,40,1,200deg);
  border-radius: 50%;
}

.active5 .bd5{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(50,50,1,205deg);
  border-radius: 50%;
}

.active6 .bd6{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(60,60,1,210deg);
  border-radius: 50%;
}

.active7 .bd7{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(70,70,1,215deg);
  border-radius: 50%;
}

.active8 .bd8{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(80,80,1,220deg);
  border-radius: 50%;
}

.active9 .bd9{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(95,95,1,225deg);
  border-radius: 50%;
}

.active10 .bd10{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(100,100,1,230deg);
  border-radius: 50%;
}

.active11 .bd11{
  -webkit-transition: all 1.4s;
  transition: all 0.5s linear 1.5s;
  transform: rotate3d(110,110,1,235deg);
  border-radius: 50%;
}

.active12 .bd12{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(120,120,1,240deg);
  border-radius: 50%;
}

.active13 .bd13{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(130,130,1,245deg);
  border-radius: 50%;
}

.active14 .bd14{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(140,140,1,250deg);
  border-radius: 50%;
}

.active15 .bd15{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(150,150,1,255deg);
  border-radius: 50%;
}

.active16 .bd16{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(160,160,1,260deg);
  border-radius: 50%;
}

.active17 .bd17{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(170,170,1,265deg);
  border-radius: 50%;
}

.active18 .bd18{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(180,180,1,270deg);
  border-radius: 50%;
}

.active19 .bd19{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(190,190,1,275deg);
  border-radius: 50%;
}

.active20 .bd20{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(200,200,1,280deg);
  border-radius: 50%;
}

.active21 .bd21{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(210,210,1,285deg);
  border-radius: 50%;
}

.active22 .bd22{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(220,220,1,290deg);
  border-radius: 50%;
}

.active23 .bd23{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(230,230,1,295deg);
  border-radius: 50%;
}

.active24 .bd24{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(240,240,1,300deg);
  border-radius: 50%;
}

.active25 .bd25{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(250,250,1,305deg);
  border-radius: 50%;
}

.active26 .bd26{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(260,260,1,310deg);
  border-radius: 50%;
}

.active27 .bd27{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(270,270,1,315deg);
  border-radius: 50%;
}

.active28 .bd28{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(280,280,1,320deg);
  border-radius: 50%;
}

.active29 .bd29{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(290,290,1,325deg);
  border-radius: 50%;
}

.active30 .bd30{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(300,300,1,330deg);
  border-radius: 50%;
}

.active31 .bd31{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(310,310,1,335deg);
  border-radius: 50%;
}


.active32 .bd32{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(320,320,1,340deg);
  border-radius: 50%;
}

.active33 .bd33{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(330,330,1,345deg);
  border-radius: 50%;
}

.active34 .bd34{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(340,340,1,350deg);
  border-radius: 50%;
}

.active35 .bd35{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(350,350,1,355deg);
  border-radius: 50%;
}

.active36 .bd36{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(360,360,1,360deg);
  border-radius: 50%;
}

.active37 .bd37{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(370,370,1,5deg);
  border-radius: 50%;
}

.active38 .bd38{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(380,380,1,10deg);
  border-radius: 50%;
}

.active39 .bd39{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(390,390,1,15deg);
  border-radius: 50%;
}

.active40 .bd40{
  -webkit-transition: all 1.4s;
  transition: all 0.5s infinite linear 1.5s;
  transform: rotate3d(400,400,1,20deg);
  border-radius: 50%;
}


/* ----------------------------
              WORK
---------------------------- */
.work {
  width: 100%;
  height: 1600px;
  text-align: center;
  padding-top: 20px;
  position: relative;
}

.img img{
  margin: 40px ;
  width: 85%;
}


.work_container{
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;
}

.fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -ms-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-30px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-30px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

figure{
  overflow: hidden;
  position: relative;
  width: 500px;
  float: left;
}


/*中央寄せのためのfloat設定*/
.left{
  float: left;
}

.right{
  float: right;
}

figcaption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 85%;
  height: 83%;
  -webkit-transition: .3;
  opacity: 0;
  color: #ffffff;
  word-wrap:break-all;
}

figcaption h3,figcaption p {
  position: absolute;
  left: -100%;
  width: 100%;
}

figcaption{
  font-size: 20px;
}

figcaption h3 {
}

figcaption p{
  width: 100%;
  font-size: 10px;
  font-family: sackers_gothic_medium-webfont;
}

figure:hover figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  background: rgba(0,0,0,0.5);
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

figure:hover figcaption p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

figure:hover figcaption h3 {
  -webkit-transition-delay: 0.01s;
  transition-delay: 0.01s;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
}

figure:hover figcaption p {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
}



/* ----------------------------
             FOOTER
---------------------------- */
.footer{
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sns{
  width: 310px;
  margin: 0 auto;
}


.fa{
  margin: 20px;
  color: #000000;
}

.fa-size{
  font-size: 20px;/* アイコンの大きさ*/
}

.a:hover{
  opacity: 0.4;
  transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
}

.copyright p{
  text-align: center;
  font-size: 10px;
}





/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/






/*モバイル
フラウザ幅が480px以下の時に表示される*/
@media (max-width: 480px){
  /* ----------------------------
              HEADER
  ---------------------------- */

  .header p{
    display: inline-block;
    margin-left: 20%;
    font-size: 20px;
  }



    /* ----------------------------
                TOP
  ---------------------------- */
  .top{
  height: 80%;
  width: 100%;
  position: fixed;
  text-align: center;
  }

  .box{
  width:  220px;
  height: 220px;
  position: relative;
  margin: 60px auto;
  }

  .contentScroll{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }

  .arrow {
    width: 30px;
    height: 30px;
    display: table-cell;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -10px;
    background-image: url(image/down.png);
    background-repeat: no-repeat;
    -webkit-animation-name:fuwafuwa;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    /*-webkit-animation-direction:alternate;*/
    -webkit-animation-timing-function:linear;
    -moz-animation-name:fuwafuwa;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    /*-moz-animation-direction:alternate;*/
    -moz-animation-timing-function:linear;
}


  @-webkit-keyframes fuwafuwa {
    0% {-webkit-transform:translate(0, 0);}
    50% {-webkit-transform:translate(0, -10px);}
    100% {-webkit-transform:translate(0, 0);}
  }
  @-moz-keyframes fuwafuwa{
    0% {-moz-transform:translate(0, 0);}
    50% {-moz-transform:translate(0, -10px);}
    100% {-moz-transform:translate(0, 0);}
  }


  /* ----------------------------
              WORK
  ---------------------------- */
  .work{
    width: 100%;
    height: 1600px;
  }

  .work_container{
    width: 100%;
  }

  .work img{
    width: 330px;
  }

/*imgに直接マージンを付与すると、hoverした時に画像の周りにhover部分が出てしまうので、imgクラスを付与してmargin調整*/
  .img{
    width: 330px;
    margin: 50px auto;
  }

  #pagetop{
    cursor: pointer;
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 24px;
    height: 24px;
    background: url(image/up.png);
  }

  figure{
    overflow: hidden;
    position: relative;
    width: 330px;
    clear: left;
    margin: 0 auto;
  }

  figcaption{
    padding: 0 auto;
  }

  .left{
    float: none;
  }

  .right{
    float: none;
    }

  /* ----------------------------
              FOOTER
  ---------------------------- */
  .footer{
    width: 100%;
    height: 150px;
    padding-top: 80px;
    padding-bottom: 40px;
    z-index: 100;
  }

  .footer_container{
    width: 270px;
    margin: 0 auto;
  }

  .sns{
    width: 270px;
    margin: 0 auto;
  }

  .fa{
    margin: 16px;
  }

  .fa:hover{
    opacity: 0.5;
  }

  .fa-size{
    font-size: 20px;
  }

  .copyright{
    font-size: 8px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    letter-spacing: 1.8px;
  }
}

